h1{
    font-size: 14px !important;
    font-weight: 700px !important;
}

  .dropdown-menu {
    display: none;
    position: absolute; 
    background-color: #fff; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1; 
  }
  
  .dropdown-item:hover .dropdown-menu {
    display: block;
  }

  .footer .content .row .col-6 .nameFooter,
.footer .content .row .col-6 ul li {
  text-align: left; 
  width: 100%; 
  box-sizing: border-box; 
  padding: 3px 0;
}

.footer .content .row .col-6 ul li {
  list-style: none;
}
.footer .content .row .col-6 .nameFooter{
    font-weight: 700;
}
.footer{
    background: #2f4e80;
    color: #fff;
}
.contentFooter{
    width: 100%;
}


.custom-footer {
    background-color: #213658;
    color: #eff0f0; 
    padding: 15px 0; 
  }
  
  .custom-footer a {
    color: #f0f0f0; 
    margin: 0 10px;
    text-decoration: none;
  }
  
  .custom-footer a:hover {
    color: #c9cccf;
  }
.footerCoin{
    display: flex;
}  